__pycache__/
*.pt
data/
runs/
stockfish/
models/

# Build-Artefakte
*.egg-info/
build/
dist/
!saved_runs/*/*.pt

# Tooling
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Umgebungen
.venv/
venv/

# Tests
*_test.py
tests/
